.nav {
	background-color: #272727;
	padding: 0.8em;
	position: fixed;
	z-index: 2;
	width: 100%;

	.nav__list {
		@include flex(center, space-between, row);
		font-size: 1.3rem;

		@include media-phone {
			@include flex(center, center, row);
			font-size: 1.5rem;
		}

		.nav__item {
			margin-left: 1.5em;

			@include media-phone {
				margin-left: 0.5em;
			}

			.nav__link {
				@include aEffect($color-green);
			}
		}
	}
}
